@font-face {
  font-family: 'Qanelas-Light', sans-serif;
  src: url("../fonts/Qanelas-Light.woff") format('woff'),
  url("../fonts/Qanelas-Light.woff2") format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Qanelas-Regular', sans-serif;
  src: url("../fonts/Qanelas-Regular.woff") format('woff'),
  url("../fonts/Qanelas-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Qanelas-Medium', sans-serif;
  src: url("../fonts/Qanelas-Medium.woff") format('woff'),
  url("../fonts/Qanelas-Medium.woff2") format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Qanelas-Bold', sans-serif;
  src: url("../fonts/Qanelas-Bold.woff") format('woff'),
  url("../fonts/Qanelas-Bold.woff2") format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Qanelas-SemiBold', sans-serif;
  src: url("../fonts/Qanelas-SemiBold.woff") format('woff'),
  url("../fonts/Qanelas-SemiBold.woff2") format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

